@page "/attr-types"
@using Microsoft.Extensions.Localization
@using ProductDataManager.Infrastructure.Domain
@inject IStringLocalizer<AttrType> L

<div class="d-flex flex-row mb-2">
    <RadzenButton
        ButtonStyle=ButtonStyle.Primary
        Icon="add_circle_outline"
        Text="@L.GetString("ADD_ATTR")"
        Click=InsertRowAsync
        Disabled="@(ToInsert is not null || ToUpdate is not null)"/>
</div>

<div class="d-flex flex-row">
    <RadzenDataGrid @ref=Grid
                    TItem=AttrType
                    Data="Types" LoadData="@LoadData" Count="count"
                    EditMode=DataGridEditMode.Single
                    RowCreate=OnCreateRow RowUpdate=OnUpdateRow
                    Sort=Reset Page=Reset Filter=Reset
                    AllowFiltering="true" FilterMode=FilterMode.Simple FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                    AllowPaging="true" PageSize="5"
                    AllowSorting="true"
                    AllowAlternatingRows="true"
                    AllowColumnResize="true">

        <EmptyTemplate>
            <EmptyTemplate/>
        </EmptyTemplate>

        <Columns>

            <RadzenDataGridColumn TItem="AttrType" Property="Type.Name" Title="Name">
                <EditTemplate Context="join">
                    <RadzenTextBox @bind-Value="join.Name" Name="CategoryName" Style="width:100%; display: block;"/>
                    <RadzenRequiredValidator Text="AttrTypes.AttrType Name is required" Component="CategoryName" Popup="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="AttrType" Property="Type.Description" Title="Description">
                <EditTemplate Context="join">
                    <RadzenTextBox @bind-Value="join.Description" Name="CategoryDescription" Style="width:100%; display: block;"/>
                    <RadzenRequiredValidator Text="AttrTypes.AttrType Description is required" Component="CategoryDescription" Popup="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem=AttrType
                                  Title="Categories"
                                  Filterable="false"
                                  Sortable="false">

                <Template Context="model">
                    @string.Join(", ", model.CategoryAttrTypes.Select(join => join.Category.Name))
                </Template>

                <EditTemplate Context="model">
                    <RadzenDropDownDataGrid
                        @ref="CategoryGrid"
                        Chips="true"
                        AllowFiltering="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        AllowClear="true"
                        @bind-Value=@Categories
                        Multiple="true"
                        Placeholder="Select..."
                        Data=@Categories
                        TextProperty="Name">
                        <Columns>
                            <RadzenDropDownDataGridColumn Width="60px" Sortable="false">
                                <HeaderTemplate>
                                    <RadzenCheckBox
                                        Disabled="@(!CategoryGrid.AllowSelectAll)"
                                        TriState="false"
                                        TValue="bool"
                                        Value="@(model.CategoryAttrTypes.Select(join => join.Category).Any(c => Categories.Contains(c)))"
                                        Change="@(args => SelectedCategories = args ? CategoryGrid.View.Cast<Category>() : Categories = Enumerable.Empty<Category>())"/>
                                </HeaderTemplate>
                                <Template Context="data">
                                    <RadzenCheckBox
                                        TriState="false"
                                        Value="@(model.CategoryAttrTypes.Select(join => join.Category).Contains((Category)data))"
                                        TValue="bool" Change=@(_ => CategoryGrid.SelectItem(data)) @onclick:stopPropagation/>
                                </Template>
                            </RadzenDropDownDataGridColumn>
                            <RadzenDropDownDataGridColumn Property="Name" Title="Name" Width="80px"/>
                        </Columns>
                    </RadzenDropDownDataGrid>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn
                TItem=AttrType
                Filterable="false"
                Sortable="false"
                TextAlign=TextAlign.Right>
                <Template Context="element">
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Light
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="edit"
                        Click=@(_ => EditRowAsync(element))
                                         @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Danger
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Shade=Shade.Lighter
                        Icon="delete"
                        Click=@(_ => DeleteRowAsync(element))
                                         @onclick:stopPropagation="true"/>
                </Template>
                <EditTemplate Context="element">
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Success
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="check"
                        Click=@(_ => SaveRowAsync(element))
                                         @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Light
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="close"
                        Click=@(_ => CancelEdit(element))
                                         @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Danger
                        Variant=Variant.Flat
                        Shade=Shade.Lighter
                        Size=ButtonSize.Medium
                        Icon="delete"
                        Click=@(_ => DeleteRowAsync(element))
                                         @onclick:stopPropagation="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
</div>