@using AlbyOnContainers.ProductDataManager.Models
@inherits AlbyOnContainers.ProductDataManager.Pages.Abstract.GridBase<AlbyOnContainers.ProductDataManager.Models.Descr>

<RadzenTemplateForm Data="@Product" Submit="@((Product product) => OnSubmit(product))">
    <div class="container-fluid">

        @foreach (var chunk in Types.Chunk(2))
        {
            <div class="row mt-1">

                @foreach (var join in chunk)
                {
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2 align-items-center d-flex">
                                <RadzenLabel Text="@join.DescrType.Name"/>
                            </div>
                            <div class="col-md-10">
                                <RadzenDropDownDataGrid
                                    TValue="Guid"
                                    Value="Product.Descrs.FirstOrDefault(descr => descr.DescrTypeId == join.DescrTypeId)?.DescrValueId"
                                    ValueChanged="valueId => ValueChange(valueId, join.DescrTypeId)"
                                    AllowClear="true"
                                    Placeholder="Select ..."
                                    Data="@join.DescrType.DescrValues.OrderBy(value => value.Value)"
                                    style="width: 100%;"
                                    AllowColumnResize="true"
                                    AllowFilteringByAllStringColumns="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                                    TextProperty="Value"
                                    ValueProperty="Id">
                                    <Columns>
                                         <RadzenDropDownDataGridColumn Property="Value" Title="Value"/>
                                        <RadzenDropDownDataGridColumn Property="Description" Title="Description"/>                                        
                                    </Columns>
                                </RadzenDropDownDataGrid>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="row justify-content-end">
            <div class="col-md-12 d-flex align-items-end justify-content-end" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
            </div>
        </div>
    </div>
</RadzenTemplateForm>